page-camera {
.block{
    position: relative;
    
    .deleteIcon {
        position: absolute
        margin-left;
        margin-top:5px;
        color:#000000
    }
    .button{
        line-height:50px;
    }
}
}